

.dropdown{
    position : relative;
    display : inline-block;
    }

    .dropdown-content{
    display : none;
    position : absolute;
    z-index : 2; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #ffffff;
    min-width : 200px;
    }

    .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 20px;
    padding : 12px 20px;
    }

    .dropdown-content a:hover{
    background-color : #ececec
    }

    .dropdown:hover .dropdown-content {
    display: block;
    }

    .navigation{
        position: fixed;
        top: 0;
        background-color: rgb(255, 255, 255);
        width: 100%;
        z-index: 10;
    }

    .head{
        height: 50px;
        background-color: greenyellow;
        border-radius: 15px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 220px;
        padding-right: 220px;
    }

    .head-sec{
        height: 110px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 215px;
        padding-right: 215px;
    }

    .head-sec > h1{
        font-size: 70px;
        font-weight: bold;
    }

    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;
        font-weight: bold;
    }

    .button1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 50px;
    }

    .button1 > button{
        color: rgb(142, 206, 45);
        background-color: transparent;
        border-radius: 50%;
        width: 25%;
        height: 100%;
        border: none;
    }

    .button1 > button:hover{
        cursor: pointer;
        color: orange;
    }